@model IEnumerable<TrainSchedule>
@{
    ViewData["Title"] = "TrainSchedule";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="section-header">
    <h1>Trains Schedule</h1>
</div>

@if (ViewBag.ErrMsg != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong></strong> @ViewBag.ErrMsg
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="section-body">
    <a asp-action="AddTrainSchedules" asp-controller="TrainSchedule" class="btn btn-primary mb-3">Add Schedule</a>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>From</th>
                <th>to</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TrainSchedule c in Model)
            {
                <tr>
                    <td>@c.TrainScheduleId</td>
                    <td>@c.TrainName</td>
                    <td>@c.Frome</td>
                    <td>@c.To</td>
                    <td>@c.Date.ToString("yyyy-MM-dd")</td>
                    <td>@c.Time.ToString("hh:mm:ss")</td>
                    <td>
                        <a asp-action="EditTrainSchedule" asp-route-eid="@c.TrainScheduleId"><i class="fa-solid fa-edit"></i></a>
                        <a onclick="deleteEntity(@c.TrainScheduleId)"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <script>
        function deleteEntity(id) {
            let con = confirm("Are You Sure?");

            if (con) {

                location.href = "DeleteTrainSchedule/" + id;
            }
        }
    </script>
</div>
