@model Register
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
@if (TempData["Data"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["Data"]!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["PNM"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@TempData["PNM"]!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["IOP"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@TempData["IOP"]!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h2> CHANGE PASSWORD</h2>
<hr id="main-hr" />
<div class="row">
    @*to show error message *@
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> @ViewBag.ErrorMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

<!-- Column 2: Change Password -->
<div class="col-md-12 col-sm-12">
    <form asp-action="UpdateClientPassword" method="post">
        <input type="hidden" value="@Context.Session.GetInt32("RegisterID")" name="R" />
        <div class="mt-3">
            <label class="form-label">Current Password</label>
            <input  type="password" class="form-control w-50" name="OldPass" placeholder="Enter Your Old Password" required />
        </div>
        <p class="text-danger">@TempData["IOP"]</p>
        <div class="mt-3">
            <label  class="form-label">New Password</label>
            <input  name="NewPass" type="password" placeholder="Enter Your New Confirm Password" class="form-control w-50" required />
        </div>

        <div class="mt-3">
            <label class="form-label">Confirm Password</label>
            <input name="C_NewPass" placeholder="Enter Your New Password" type="password" class="form-control w-50" required />
        </div>
        <p class="text-danger">@TempData["PNM"]</p>
        <button type="submit" class="btn btn-success">Change Password</button>

    </form>
</div> 
</div>